{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Profilni O'zgartirish</title>
</head>

<body>
    <form action="" method="POST" id="profile_edit_form"
        class="col-11 col-sm-9 col-md-10 col-xl-8 mx-auto shadow rounded-4 p-4" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}

        <center><button type="submit" class="btn btn-primary">Save</button></center>
    </form>


    <script>
        document.getElementById('id_first_name').className = 'form-control'
        document.getElementById('id_last_name').className = 'form-control'
        document.getElementById('id_img').className = 'form-control'
        document.getElementById('id_birthday').className = 'form-control'
        document.getElementById('id_phone_number').className = 'form-control'
        document.getElementById('id_telegram_link').className = 'form-control'
        document.getElementById('id_instagram_link').className = 'form-control'
        document.getElementById('id_facebook_link').className = 'form-control'

        document.getElementById('id_birthday').type = 'date'
    </script>

    <style>
        form {
            width: 500px !important;
            margin-top: 100px;
        }

        button {
            width: 70%;
        }
    </style>
</body>

</html>