<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/main.css">
		<title>Task detail</title>
	</head>
	<body class="h-100 d-flex flex-column justify-content-between">
		<!-- Header- start -->
		<header class="py-2">
			<div class="container-fluid px-3">
				<div
					class="d-flex justify-content-between align-items-center flex-wrap flex-lg-nowrap"
				>
					<a href="./index.html">
						<img src="./images/logo.png" alt="Site logo" width="250" />
					</a>
					<div class="fs-5 ms-auto now-date-js">
						<span class="now-day-js"></span>
						<span class="now-hour-js fw-bold"></span>
						<span class="now-minute-js fw-bold"></span>
						<span class="now-second-js fw-bold"></span>
					</div>
				</div>
			</div>
		</header>

		<!-- Main start -->
		<main class="flex-grow-1">
			<div class="container-fluid px-3">
				<!-- Navigation bar va info qismini o'rab turuvchi -->
				<div class="row">
					<!-- Navigation bar -->
					<div
						class="col-12 col-md-3 d-flex d-md-block flex-wrap justify-content-between"
					>
						<a
							class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
							href="./index.html"
						>
							<img src="./images/topshiriq-icon.png" alt="icon" width="25" />
							<span class="fs-5 mx-3">Topshiriqlar</span>
						</a>
						<a
							class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
							href="./chat.html"
						>
							<img src="./images/chat-icon.png" alt="icon" width="25" />
							<span class="fs-5 mx-3">Chat</span>
						</a>
						<a
							class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black-50"
							href="./task-detail.html"
						>
							<img src="./images/jamoa-icon.png" alt="icon" width="25" />
							<span class="fs-5 mx-3">Jamoa</span>
						</a>
						<a
							class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-primary"
							href="./calendar.html"
						>
							<img src="./images/calendar-icon.png" alt="icon" width="25" />
							<span class="fs-5 mx-3">Kalendar</span>
						</a>
						<a
							class="d-flex align-items-center my-2 my-md-5 px-3 text-decoration-none text-black fw-medium"
							href="./author-pages/profile.html"
						>
							<img src="./images/user-icon.png" alt="icon" width="25" />
							<span class="fs-5 mx-3">Chala Developer</span>
						</a>
					</div>

					<!-- Info bo'limi -->
					<div style="height: 90vh;" class="rounded-top-4 col-12 col-md-9 bg-info bg-opacity-25 p-5">
            <div class="row bg-white px-2 py-4 rounded-4">
              <!-- calendar box -->
              <div class="col-12 col-xl-5">
                <div class="wrapper">
                  <div class="box">
                    <p class="current-date m-0"></p>
                    <div class="icons d-flex">
                      <span id="prev" class="prev-next-icon">
                        <img src="./images/back.png" alt="icon" width="20">
                      </span>
                      <span id="next" class="prev-next-icon">
                        <img src="./images/next.png" alt="icon" width="20">
                      </span>
                    </div>
                  </div>
                  <div class="calendar">
                    <ul class="weeks p-0">
                      <li>Yak</li>
                      <li>Du</li>
                      <li>Se</li>
                      <li>Chor</li>
                      <li>Pay</li>
                      <li>Ju</li>
                      <li>Shan</li>
                    </ul>
                    <ul class="days p-0"></ul>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-7 mt-4 mt-xl-0">
                <h4>Bu oydagi topshiriqlar</h4>
                <div class="d-flex my-3">
                  <div class="me-4 fs-5 pe-3 border-end border-3 border-dark">21.03</div>
                  <p class="m-0 fs-5">Topshiriq matni shu yerda chiqadi</p>
                </div>

                <div class="d-flex my-3">
                  <div class="me-4 fs-5 pe-3 border-end border-3 border-dark">20.03</div>
                  <p class="m-0 fs-5">Topshiriq matni shu yerda chiqadi</p>
                </div>

                <div class="d-flex my-3">
                  <div class="me-4 fs-5 pe-3 border-end border-3 border-dark">21.03</div>
                  <p class="m-0 fs-5">Topshiriq matni shu yerda chiqadi</p>
                </div>
              </div>
            </div>
					</div>
				</div>
			</div>
		</main>

		<!-- Footer start -->
		<footer class="py-4 border-top border-2">
			<div class="container-fluid px-3">
				<div class="d-flex justify-content-between align-items-center">
					<span>RoboCode IT Academy 2023</span>

					<div class="icons d-flex align-items-center">
						<a class="text-decoration-none mx-2" href="#">
							<img src="./images/facebook-icon.png" alt="icon" />
						</a>
						<a class="text-decoration-none mx-2" href="#">
							<img src="./images/instagram-icon.png" alt="icon" />
						</a>
						<a class="text-decoration-none mx-2" href="#">
							<img src="./images/telegram-icon.png" alt="icon" />
						</a>
						<a class="text-decoration-none mx-2" href="#">
							<img src="./images/youtube-icon.png" alt="icon" />
						</a>
					</div>
				</div>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="./js/main.js"></script>
	</body>
</html>
