{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<!-- Info bo'limi -->
<div class="col-12 col-md-9 rounded-top-5 bg-opacity-25 bg-info p-3 mt-2 m-md-0">
  <div class="d-flex align-items-center justify-content-around flex-wrap">
    <div class="d-flex align-items-center mx-3 my-1">
      <img src="/images/users-logo.png" alt="img" width="22">
      <p class="m-0 ms-2 fs-5 fw-medium">Guruxlar: <span>2</span> ta</p>
    </div>
    <div class="d-flex align-items-center mx-3 my-1">
      <img src="/images/user-icon.png" alt="img" width="18">
      <p class="m-0 ms-2 fs-5 fw-medium">Ishchilar: <span>41</span> ta</p>
    </div>
  </div>

  {% for group in groups %}
  <div class="p-4 bg-primary rounded-5 my-4">
    <h2 class="fs-3 mb-4 text-white">{{group.name}}</h2>
    <div class="d-flex justify-content-around justify-content-sm-start flex-wrap">
      {% for member in members %}
      <div class="p-2 text-center bg-white rounded-3 m-2">
        <img src="/images/harry.png" alt="img">
        <h3 class="fs-6 mt-3">Siz</h3>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

</div>
</div>
</div>
</main>
<!-- Main end -->
{% endblock %}